tools_defined={{ tools is defined }} tools_len={{ tools | length }} tool_choice_is_none={{ tool_choice is none }}
{% if tools %}
{% for tool in tools %}
tool_type {{ tool['type'] }}
tool {{ tool['function']['name'] }}
{% endfor %}
{% endif %}
tool_choice {{ tool_choice }}
{{ (prompt_lines + ['assistant']) | join('\n') }}
